*~
/.bundle/
/.idea
/.windsurf
/.yardoc
/_yardoc/
/coverage/
/doc/
/gemfiles/*.lock
/gems.locked
/pkg/
/spec/reports/
/tmp/
/vendor/sigs/

# Ignore report files
*.attempt_*.png
*.diff.png
*.base.png

*.attempt_*.webp
*.diff.webp
*.base.webp
